body {
  color: #21543a;
  font-family: sans-serif; Verdana;
  width: 80%;
  justify-content: center;
}

h1{
  font-size: 4em;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 2em;
}

img {
  width: 50em;
}
