body {
  font-family: "Open Sans", Open Sans, sans-serif;
  font-size: 1em;
  background: transparent url(images/tree_bark.png) repeat;
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
  overflow: hidden;
}

#header h1{
  font-size: 3em;
  font-weight: bold;
  padding-left: 200px;
  margin-top: .5em;
  margin-bottom: .5em;
}

h2{
  font-size: 2em;
  font-weight: bold;
  color: rgb(82, 147, 158);
  margin: 0;
  padding-bottom: .5em;
}

h3{
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(82, 147, 158);
  text-align: center;
  padding-bottom: .5em;
}

.sidebar{
  width: 138px;
  padding: 10px;
  margin-top: 2em;
  background: transparent;
  position: fixed;
}

.sidebar-link {
  font-size: 0.8em;
  color: black;
  background-color: white;
  display: block;
  padding: 4px 5px;
  margin-bottom: 2px;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
}

a:link, a:-webkit-any-link {
  font-size: 1em;
  text-decoration: none;
  color: rgb(82, 147, 158);
}

a:hover{
  font-weight: bold;
  color: rgb(82, 147, 158);
  text-decoration: underline;
}

#main {
  display: block;
  width: 60em;
  padding-left: 200px;
}

.body {
  background-color: white;
  padding: 1em;
}

p{
  padding: 0;
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.social-media {
  max-width: 100%;
  width: 15%;
}

.side-image {
  max-width: 100%;
  width: 40%;
  margin-left: 30%;
}

.splash{
  width: 100%;
  padding:0;
  margin:0;
}
