body{
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#header{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: block;
  float: left;
  width: 100%;
  height: 80px;
  color: #ffffff;
}

h1{
  display: block;
  top: 30px;
  float: left;
  left: 50px;
}

ul{
  display: block;
  float: right;
  list-style-type: none;
  overflow: hidden;
}

li {
  display: inline;
  margin-right: 10px
}

img{
  width: 100%;
}
