body{
    background-color: #CAE3D1;
    font-size: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float:left;
}


a {
  list-style-type: none;
  display: block;
  padding: 8px;
  background-color: #808080;
  color: #ffffff;
}
