body{
  font-size: 1em;
  font-family: "Proxima Nova", sans-serif;
  background-color: black;
  color: #ffffff;
  width: 100%;
}

.owl-carousel {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.owl-carousel .item{
  margin: 2%;
}

.owl-carousel .item img{
  display: block;
  width: 90%;
  height: auto;
}

#header {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 0;
  height: 100px;
  width: 100%;
  border: 0em;
  border-bottom: .5em;
  border-color: RGB(68, 187, 133);
  border-style: solid;
}

#logo {
  width: 100px;
  float: left;
  padding: 0;
  margin: 0;
}

ul {
  margin-top: 50px;
  font-size: 20px;
  float: right;
  list-style-type: none;
  overflow: hidden;
}

li {
  display: inline;
}

#row {
  margin-left: auto;
  margin-right: auto;
}

h3{
  font-size: 2em;
}

.col {
  width: 31.5%;
  padding: 10px;
  float: left;
  text-align: center;
}

.col img{
  width: 50%;

}
