body{
  font-size: 1em;
  font-family: "Proxima Nova", sans-serif;
  background-color: black;
  color: #ffffff;
  width: 100%;
}

.owl-carousel {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.owl-carousel .item{
  margin: 2%;
}

.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

#header {
  padding-top: 2em;
  margin-left: 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100%;
  border: 0em;
  border-bottom: .25em;
  border-color: RGB(68, 187, 133);
  border-style: solid;
}

#logo {
  width: 100px;
  float: left;
  padding: 0;
  margin: 0;
}

#header ul {
  margin-top: 5.5em;
  float: right;
  width: 60em;
  list-style-type: none;
  overflow: hidden;
}

#header ul li {
  display: inline;
  float: left;
}

#header ul img{
  width: 10em;
}


#row {
  width: 70%;
  height: 25em;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

h3{
  font-size: 2em;
}

.col {
  max-width: 30%;
  padding: .5em;
  display: inline-block;
  float: left;
  text-align: center;
}

.col img{
  max-width: 100%;
}

#testimonial {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding: 2em;
  color: RGB(68, 187, 133);
}

#blurb {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

/*@media screen and (min-width: 480px) {
    #row {width: 200px; float: left;}
}*/
